.filters_section{
    margin-bottom: 30px;
}
.filter select{
    width: 100%;
    height: 33px;
    border-color: #d2d2d2;
    border-radius: 4px;
}
.filter > p{
    margin-bottom:0!important;
}
.card-title{
    margin-top:5px!important;
}
table .btn{
    padding: 4px;
    width: calc(100% - 20px);
    margin: 0px!important;
}
.modal-header .app-page-title {
    padding: 0!important;
    margin: 0!important;
}
.cantidad_pago{
    font-weight: 700;
}
.app-header__logo .logo{
    font-size: 19px;
    font-weight: 800;
    color: #21364e;
}
.app-header__logo .logo >img{
    margin-left: 20px; 
}
.edit-container label{
    width:100%;
}
.edit-container .form-control{
    width: calc(100% - 70px);
    display: inline;
    border-radius: .25rem 0 0 .25rem;
}
.edit-container .edit-save-btn{
    padding: 8px 0;
    width: 70px;
    background: #243952;
    color: white;
    border-radius: 0 .25rem .25rem 0;
    float: right;
    border: 1px solid #ced4da;
    cursor: pointer;
}

.loader{
  height: 100vh;
  width: 100%;
  background: #ffffffa1;
  position: fixed;
  text-align: center;
  z-index: 1000000;
}
.loader img{
  margin-top: calc(25% - 20PX);
}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px!important;
    border-bottom: 1px solid #fff!important;
}
.no_style{
    border: none;
    background: transparent;
}
.filters{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 90px;
    column-gap: 10px;
}
.app-sidebar .app-sidebar__inner {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    overflow: auto;
}
.checkbox-primary > input{
    width: 16px;
    height: 20px;
    position: absolute;
}
.checkbox-primary > label{
    margin-left: 26px;
}
.roles-box > div{
    margin-bottom: 20px;
}
.float-right-button{
    float:right;
}
.hidden{
  display:none;
}
@media only screen and (max-width: 880px) {
  .filters {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .filters {
    grid-template-columns: 1fr;
  }
  .buscar-button .btn{
    margin-top: 0!important;
  }
}
.border {
    border-bottom: 1px dashed #223a53!important;
    width: 100%;
    display: block;
}
.add_alumno_container{
    text-align: center;
    margin-top: 17px;
}
.add_alumno_container #add_alumno{
    border-radius: 50%;
    padding: 10px 14px;
}
.create_alumnos{
    display: grid;
    grid-template-columns: 62px 47px;
}
#headingRecaudacion > button{
    border: none;
    background: none;
    text-transform: uppercase;
    color: rgba(13,27,62,0.7);
    font-weight: bold;
    font-size: .88rem;
    outline: none;
}


.tabs-animated .nav-link {
    position: relative;
    padding: 1rem;
    margin: 0 .75rem 0 0;
    color: #495057;
    margin-bottom: 0;
    font-size: 1.1rem;
    padding: 0.75rem 0.5rem;
}

.tabs-animated .nav-link::before {
    transform: scale(0);
    opacity: 1;
    width: 100%;
    left: 0;
    bottom: -2px;
    content: "";
    position: absolute;
    display: block;
    border-radius: .25rem;
    background: #3f6ad8;
    transition: all .2s;
    height: 4px
}

.tabs-animated .nav-link.active,.tabs-animated .nav-link:hover {
    color: #3f6ad8
}

.tabs-animated .nav-link.active::before,.tabs-animated .nav-link:hover::before {
    transform: scale(1)
}

.tabs-animated-shadow .nav-link {
    padding: .5rem .75rem;
    margin-bottom: .75rem
}

.tabs-animated-shadow .nav-link span {
    position: relative;
    z-index: 5;
    display: inline-block;
    width: 100%
}

.tabs-animated-shadow .nav-link::before {
    height: 100%;
    top: 0;
    z-index: 4;
    bottom: auto;
    box-shadow: 0 16px 26px -10px rgba(63,106,216,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(63,106,216,.2);
    border-radius: 100%;
    opacity: .5
}

.tabs-animated-shadow .nav-link.active,.tabs-animated-shadow .nav-link:hover {
    color: #fff
}

.tabs-animated-shadow .nav-link.active::before,.tabs-animated-shadow .nav-link:hover::before {
    border-radius: .25rem;
    opacity: 1
}

.tabs-animated-shadow .nav-item:last-child .nav-link {
    margin-right: 0
}

.tabs-animated-shadow.tabs-shadow-bordered {
    border-bottom: rgba(26,54,126,.125) solid 1px
}

.tabs-animated-shadow.tabs-shadow-bordered .nav-link {
    margin-bottom: 0
}


.tabs-rounded-lg {
    border-radius: 120px;
    background: #fff;
    padding: .75rem;
    margin-bottom: 1.5rem
}

.tabs-rounded-lg .nav-link {
    margin-bottom: 0;
    font-size: 1.1rem;
    padding: .75rem .5rem
}

.tabs-rounded-lg .nav-link::before {
    border-radius: 120px!important;
    box-shadow: 0 0 0 0 transparent
}
